<%- include("../layout/nav.ejs") %>

<div class="container mt-4">
    <h5 class="text-center">상세페이지</h5>
    <div class="card" style="width: 100%">
        <div class="card-body">
            <h5 class="card-title"><%= post.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted"> <%= formatDate(post.createdAt) %></h6>
            <p class="card-text"><%= post.content %></p>
            <a href="/posts"><span class="badge badge-info btn-post-list">list</span></a>
            <a href="?edit=true"><span class="badge badge-info btn-post-mod">mod</span></a>
            <span class="badge badge-info btn-post-del">delete</span>
        </div>
    </div>
</div>
<template>
    <tr>
        <td class="content"></td>
        <td class="author"></td>
        <td class="createdAt"></td>
    </tr>
</template>
<div class="container mt-4">
    <table>
        <thead>
            <tr>
                <td colspan="2"><input id="content" type="text"></td>
                <td><button onclick="writeComment()">댓글 작성</button></td>
            </tr>
        </thead>
        <tbody id="comments">
        </tbody>
    </table>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script></body>
<script>

  loadComments();

  $('.btn-post-del').on('click', function () {
    $.ajax({
      method: 'DELETE',
      url: '/posts/'+ '<%= post.shortId %>',
    }).done((res)=>{
      if(res === "OK"){
        alert('삭제되었습니다.');
        window.location.href = '/posts';
      } else {
        alert('오류가 발생했습니다.');
      }
    }).fail((err)=>{
      alert('오류가 발생했습니다.'+ err.message);
    });
  });


 function loadComments() {
   document.querySelector('#comments').innerHTML = '';
   $.ajax({
     method: 'GET',
     url: '/posts/<%= post.shortId %>/comments',
   }).done((res) => {
     if (res.length > 0) {
       res.forEach(comment=>addComment(comment));
     }
     return;
   }).fail(err => {
     alert(err.message);
   })
 }

 function addComment(comment) {
   // console.log(comment)
   const template = document.querySelector('template');
   // console.log(template)
   const node = document.importNode(template.content, true).firstElementChild;

   node.querySelector('.content').innerText = comment.content;
   node.querySelector('.author').innerText = comment.author.name;
   node.querySelector('.createdAt').innerText = comment.createdAt;
   document.querySelector('#comments').appendChild(node);
 }

 function writeComment() {
   const input = $('#content');
   const content = input.val();

   // alert(content);

   $.ajax({
     method: 'POST',
     url: '/posts/<%= post.shortId %>/comments',
     data: { content },
     }).done((res)=>{
         if (res.result === 'success') {
           input.value = "";
           loadComments();
         } else {
           alert('오류가 발생했습니다.');
         }
     }).fail((err)=>{
         alert('오류가 발생했습니다.'+ err.message);
     });
 }
</script>
</html>